.cat-box {
  margin-top: 100px;
  display: relative;
}

.cat-box h2 {
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
}

.item-box {
  padding-top: 0px;
  margin-top: 20px;
}

.item-box p{
  font-size: 17px;
}

.item-label {
  font-size: 20px !important;
}

.log-box {
  margin-top: 150px;
}

.log-box input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.log-box h3 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 9px;
}

.signup {
  text-align: center;
  margin-top: 60px;
}

.btn-area .btn {
  padding-top: 5px;
  text-align: center;
  margin-top: 23.2px;
}

.update-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-control {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
}

.m-select {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  font-size: 15px !important;
}

.btn-sign {
  padding-top: 4px;
}

.admin-btn-pop {
  position: absolute;
  top: 8px;
  left: 8px;
}

.admin-btn-pop p {
  font-size: 20px;
}

.admin-btn-pop a  {
  transition: color 0.2s ease-in-out;
}

.admin-btn-pop a:hover {
  text-decoration: none;
  color: #329f7c;
}

.btn-custom-large {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px;
}

.btn-side {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 18px;
}

.inner-side label {
  font-size: 22px;
  padding-bottom: 5px;
}

.inner-side p {
  font-size: 22px;
}

.table-users th {
  font-size: 20px;
}

.table-users .username {
  padding-top: 15px;
}

.table-users td {
  font-size: 19px;
}

.back-button {
  margin-top: 50px;
}

.table-responsive {
  margin-top: 20px;
}

.upper-button-add {
  margin-top: 18px;
}

.btn-custom-right {
  float: right;
  font-size: 16px !important;
}

.modal-header {
  text-align: center;
}

.modal-header h3 {
  color: #329f7c;
}

a {
  color:#329f7c !important;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #84c5b0 !important;
}

.btn-primary {
  background-color: #329f7c !important;
  border-color: #84c5b0 !important;
  transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
  background-color: #84c5b0 !important;
}

.btn-warning {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  transition: all 0.5s ease-in-out;
}

.btn-warning:hover {
  background-color: #74aad8 !important;
}

.share {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px !important;
  width: 100%;
  margin: auto;
  color: white !important;
}

.share-text {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.share-header {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
