body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  overflow: hidden;
}

a {
  color: #329f7c;
  transition: all 0.5s ease;
}

 a:hover {
   color: #98cfbd;
  text-decoration: none;
}

a:visited {
  color: #329f7c;
  text-decoration: none;
}

/*Header*/

.header-up {
  width: 100%;
  height: 300px;
  background: url("/images/background.jpg");
  background-size: cover;
  background-position: 0;
  background-attachment: fixed;
}

.header-down {
  padding-top: 70px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-top: -300px;
  background: rgba(0, 135, 92, 0.5);
}

.header-down h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.header-logo {
  height: 90px;
  margin-top: -4px;
  margin-left: -10px;
  margin-right: -10px;
}

.header-down p {
  margin-top: -10px;
  color: white;
  font-size: 24px;
}

.sponsor {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #329f7c;
}

.v-school-logo {
  margin-top: -5px;
  height: 20px;
}

.partner-text {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  transition: color 0.2s ease;
}

.partner-text:visited {
  color: white;
  text-decoration: none !important;
}

.partner-text:active {
  color: white;
  text-decoration: none !important;
}

.partner-text:hover {
  color: #98cfbd !important;
  text-decoration: none ;
}
/* Home*/

.about-projects {
  margin-top: 30px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.about-desc {
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-desc h5 {
  line-height: 20px;
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.about-desc p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

hr.botm-line {
  height: 3px;
  width: 200px;
  background: #329f7c;
  position: relative;
  margin: 20px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

.project-box {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.project-box p {
  font-size: 18px;
}

.project-icon {
  height: 165px;
  width: 165px;
  border-radius: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  border: 7px solid #329f7c;
}

.project-label {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px !important;
  font-weight: bold;
}

.about-img {
  height: 475px;
  width: 100%;
}

.about-us {
  background-color: #ededed;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
}

.about-us h5 {
  line-height: 20px;
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.about-us p {
  font-size: 18px;
  line-height: 33px;
}

.inner-about {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.inner-desc {
  margin-top: 20px;
}


/*Navbar*/

#sidebar-wrapper {
  background-color: #329f7c !important;
}

.sidebar-brand a {
  font-weight: bold;
  font-size: 20px !important;
  margin-bottom: 15px;
}

#sidebar-wrapper a {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
}

#menu-close {
  color: #999999 !important;
}

#nav-logo {
  margin-top: -5px;
  margin-left: -3px;
  height: 35px;
}

.more-button {
  margin-top: 5px;
  background-color: #329f7c !important;
  color: white !important;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.more-button:hover {
  background-color: white !important;
  color: #329f7c !important;
  border-color: #329f7c !important;
}


/*Medical Cases*/

.donate-box {
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 475px;
}

.fundme-image {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
}

.btn-area-fundme {
  text-align: center;
  padding-bottom: 10px;
}

.fundme-desc {
  text-align: center;
  padding: 5px;
  max-height: 223px;
  overflow-y: auto;
}


/*Case*/

.fundme-image-large {
  width: 100%;
  height: 500px;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  margin-top: 20px;
  position: relative;
}

.case-large {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fundme-desc-large h3 {
  text-align: center;
  font-size: 26px;
  color: #329f7c;
}

.fundme-desc-large p {
  font-size: 18px;
  line-height: 33px;
}

.more-button-large {
  margin-top: 5px;
  background-color: #329f7c;
  color: white !important;
  text-transform: uppercase;
  font-size: 18px !important;
  transition: all 0.5s ease;
  font-weight: bolder;
  margin-bottom: 20px;
}

.more-button-large:hover {
  background-color: white;
  color: #329f7c !important;
  border-color: #329f7c;
}

.desc-box {
  height: 500px;
  overflow-y: auto;
}

.share-area {
  position: absolute;
  top: 0;
  left: 0;
}

.share  {
  display: inline-block;
  background-color: #329f7c;
  padding: 7px 12px;
  font-size: 20px;
  color: white;
}

.share:hover a {
  text-decoration: none;
  color: #98cfbd;
}

.share:visited a {
  text-decoration: none;
  color: white;
}


/*Profiles*/

.profile-box {
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 475px;
}

.profile-image {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
}

.profile-desc {
  text-align: center;
  padding: 5px;
  max-height: 223px;
  overflow-y: auto;
}

.btn-area-profile {
  text-align: center;
  padding-bottom: 10px;
}


/*Profile*/

.profile-image-small {
  width: 100%;
  height: 500px;
  text-align: center;
  border-radius: 0px;
  padding: 0px;
  margin-top: 20px;
  position: relative;
}

.profile-name {
  text-align: center;
  font-size: 30px;
  color: #329f7c;
}

.btn-area-profile-center {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.profile-desc-large {
  height: 500px;
  overflow-y: auto;
  line-height: 30px;
  font-size: 18px;
}

.contact-header {
  text-align: center;
  font-size: 23px;
}

.contact-text {
  font-size: 18px;
  text-align: center;
}

.contact-text-sub {
  font-size: 14px;
  text-align: center;
}


/*Stories*/

.stories-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.story-type {
  font-size: 17px;
}

.story-desc {
  font-size: 20px;
}

.type {
  text-transform: capitalize;
}

.story-title {
  font-size: 39px;
}

.story-info {
  font-style: italic;
}


/*Footer*/

footer {
  background: #555555;
  color: white;
  padding-top: 40px;
  padding-bottom: 13px;
  color: white;
  text-align: center;
}

.footer-logo {
  margin-top: -5px;
  margin-left: -3px;
  height: 35px;
}

footer p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 17px;
}

footer a {
  color: white !important;
  transition: all 0.5s ease;
}

footer a:hover {
  color: #329f7c !important;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}
