<header class="header-up">
</header>
<div class="header-down">
  <div class="header-inner">
    <h1>Project <img class="header-logo" src="/images/jinn.png"> Jinn</h1>
    <p>Helping one person at a time</p>
  </div>
</div>
<div class="sponsor">
  <a target="_blank" href="http://vschool.io/en/" class="partner-text">Partnered with <img class="v-school-logo" src="/images/vschool.png"> V School</a>
</div>
<section class="container case-large" ng-init="loadCase()">
  <div class="row">
    <div class="col-md-6">
      <div class="fundme-image-large" style="background: url('{{case.img}}'); background-size: cover; background-position: center;
      background-repeat: none;">
        <div class="share-area">
          <a class="share" socialshare socialshare-provider="facebook" socialshare-url="{{case.url}}">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="share" socialshare-text="{{case.title}}" socialshare socialshare-provider="twitter" socialshare-url="{{case.url}}">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <a class="more-button-large btn form-control" ng-href="{{case.url}}">Donate Now</a>
    </div>
    <div class="col-md-6">
      <div class="fundme-desc-large">
        <h3>{{case.title}}</h3>
        <div class="desc-box">
          <p>{{case.desc}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 Apache 2.0</a></p>
      </div>
      <div class="col-md-4">
        <p><img class="footer-logo" src="/images/nav-logo.png"></p>
      </div>
      <div class="col-md-4">
        <p><a href="https://github.com/Project-Jinn/project-jinn-website" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source Code</p>
      </div>
    </div>
  </div>
</footer>
