<header class="header-up">
</header>
<div class="header-down">
  <div class="header-inner">
    <h1>Project <img class="header-logo" src="/images/jinn.png"> Jinn</h1>
    <p>Helping one person at a time</p>
  </div>
</div>
<div class="container">
  <section class="about-desc">
    <div class="row">
      <div class="col-md-12">
        <h5>Our Projects</h5>
        <hr class="botm-line">
        <p>These are the current projects going on to help refugees in Lebanon. Information on these projects are gathered from our first-hand experience at refugee camps and from technical training that we gave/supported.</p>
      </div>
    </div>
  </section>
  <section class="about-projects">
    <div class="row">
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
          <p>Medical Cases</p>
          <p>Help refugees that can't afford medical attention.</p>
          <a href="#/medical-cases" class="btn more-button">More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
          <p>Developer Profiles</p>
          <p>Hire refugees that have recived technical training.</p>
          <a href="#/developer-profiles" class="btn more-button">More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></div>
          <p>Ongoing Stories</p>
          <p>Read and listen to the stories and progress of refugees in Lebanon.</p>
          <a href="#/stories" class="btn more-button">More</a>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5>About Us</h5>
        <hr class="botm-line">
        <p>We are a small group of developers that live in Lebanon and teach programming. After visting refugee camps we met people that desperately needed medical help and had no way to pay for it. We also saw that many of the talanted devopers that went through our programs continued without jobs due to a lack of available entry-level tech jobs in Lebanon. We decided to build this site to try to help all of these amazing individuals.</p>
        <div class="inner-desc">
          <p>Ben (Left) is a web developer, instructor, and photographer.</p>
          <p>Joe (Center) is a web development instructor, entrepreneur, and chemical engineer.</p>
          <p>Jacob (Right) is a web development instructor, programmer, and a data nerd.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-img" style="background: url('/images/about.jpg'); background-size: cover; background-position: top; background-repeat: none;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 Apache 2.0</a></p>
      </div>
      <div class="col-md-4">
        <p><img class="footer-logo" src="/images/nav-logo.png"></p>
      </div>
      <div class="col-md-4">
        <p><a href="https://github.com/Project-Jinn/project-jinn-website" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source Code</p>
      </div>
    </div>
  </div>
</footer>
