<header class="header-up">
</header>
<div class="header-down">
  <div class="header-inner">
    <h1>Project <img class="header-logo" src="/images/jinn.png"> Jinn</h1>
    <p>Helping one person at a time</p>
  </div>
</div>
<div class="sponsor">
  <a target="_blank" href="http://vschool.io/en/" class="partner-text">Partnered with <img class="v-school-logo" src="/images/vschool.png"> V School</a>
</div>
<div class="container">
  <section class="about-desc">
    <div class="row">
      <div class="col-md-12">
        <h5>Our Projects</h5>
        <hr class="botm-line">
        <p>These are the current projects going on to help refugees in Lebanon. These projects came from our first-hand experience visting refugee camps, from technical training that we gave/supported in Beruit and from V School coding boot camps.</p>
      </div>
    </div>
  </section>
  <section class="about-projects">
    <div class="row">
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon" style="background: url('/images/medical.jpg'); background-size: cover; background-position: center;"></div>
          <p class="project-label">Medical Cases</p>
          <p>Help refugees that can't afford medical attention.</p>
          <a href="#/medical-cases" class="btn more-button">More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon" style="background: url('/images/training.jpeg'); background-size: cover; background-position: center;"></div>
          <p class="project-label">Developer Profiles</p>
          <p>Hire refugees that have received technical training.</p>
          <a href="#/developer-profiles" class="btn more-button">More</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="project-box">
          <div class="project-icon" style="background: url('/images/stories.jpg'); background-size: cover; background-position: right;"></div>
          <p class="project-label">Ongoing Stories</p>
          <p>Read and listen to the stories and progress of refugees in Lebanon.</p>
          <a href="#/stories" class="btn more-button">More</a>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5>About Us</h5>
        <hr class="botm-line">
        <p>We are a small group of developers that live in Lebanon and teach programming. After visting refugee camps we met people that desperately needed medical help and had no way to pay for it. We also saw that many of the talented developers that went through our programs continued without jobs due to a lack of available entry-level tech jobs in Lebanon. We decided to build this site to try to help all of these amazing individuals. V School a company based in Salt Lake City with a campus in Beirut is helping Project Jinn go futher and help more people using there network of teachers and other resources.</p>
        <div class="inner-desc">
          <p><a href="https://www.benschinn.com/" target="_blank">Ben</a> (Left) is a web developer, instructor, and photographer.</p>
          <p><a href="http://climbingtree.xyz/#/" target="_blank">Joe</a> (Center) is a web development instructor, entrepreneur, and chemical engineer.</p>
          <p><a href="http://jacobtheevans.com" target="_blank">Jacob</a> (Right) is a web development instructor, programmer, and a data nerd.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about-img" style="background: url('/images/about.jpg'); background-size: cover; background-position: top; background-repeat: none;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 Apache 2.0</a></p>
      </div>
      <div class="col-md-4">
        <p><img class="footer-logo" src="/images/nav-logo.png"></p>
      </div>
      <div class="col-md-4">
        <p><a href="https://github.com/Project-Jinn/project-jinn-website" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source Code</p>
      </div>
    </div>
  </div>
</footer>
