<header class="header-up">
</header>
<div class="header-down">
  <div class="header-inner">
    <h1>Project <img class="header-logo" src="/images/jinn.png"> Jinn</h1>
    <p>Helping one person at a time</p>
  </div>
</div>
<section class="container" ng-init="loadCases()">
  <div class="row">
    <div ng-repeat="case in cases track by $index">
      <div class="col-md-4 col-sm-6 col-sx-6">
        <div class="donate-box">
          <div class="fundme-image" style="background: url('{{case.img}}'); background-size: cover; background-position: center;
          background-repeat: none;"> </div>
          <div class="fundme-desc">
            <h3>{{case.title}}</h3>
            <p>{{excerpt(case.desc)}}</p>
          </div>
          <div class="btn-area-fundme">
            <a ng-href="#/case/{{case._id}}" class="more-button btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p><a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank"><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 Apache 2.0</a></p>
      </div>
      <div class="col-md-4">
        <p><img class="footer-logo" src="/images/nav-logo.png"></p>
      </div>
      <div class="col-md-4">
        <p><a href="https://github.com/Project-Jinn/project-jinn-website" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source Code</p>
      </div>
    </div>
  </div>
</footer>
