<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="log-box">
        <h3>Sign Up</h3>
        <input class="form-control" ng-model="userinput.username" placeholder="Username">
        <input class="form-control" ng-model="userinput.password1" type="password" placeholder="Password">
        <input class="form-control" ng-model="userinput.password2" type="password" placeholder="Password Confirmation">
        <button class="form-control btn btn-primary btn-sign" ng-click="signup()">Sign up</button>
      </div>
      <div class="signup">
        <p>Already have an account</p>
        <a href="/#/signin">Signin</a>
      </div>
    </div>
  </div>
</div>
